
body {
	background-color: #11314d;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 6vh;
}
a {
	border: 6px double white;
	color: #003F77;
	display: block;
}
a:hover {
	border: 6px solid white;
	color: white;
}
a:active {
	border: 6px solid white;
	color: white;
	box-shadow: inset 5px 5px 5px #11314d;
}
/*--------------------------------------------------------------------------*/
.container1 {
	align-items: center;
	background-color: #003F77;
	border-radius: 10px 10px 0 0;
	display: flex;
	justify-content: space-around;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	width: 90%;		
}
.container2 {
	background-color: #003F77;
	border-radius: 0 0 10px 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
		"one two"
		"... ...""... ..."
		"three three"
		"four four"
		"five six"
		"... ...""... ..."
		"seven seven"
		"eight eight"
		"nine ten"
		"eleven twelve"
		"... ...""... ..."
		"thirteen thirteen"
		"fourteen fourteen"
		"... ...""... ...";
	margin: auto;
	padding-left: 4%;
	padding-right: 4%;
	width: 84%;	
}
.container3 {
	background-color: #003F77;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
		"one2 two2 three2 four2";
}
/*--------------------------------------------------------------------------*/
.item {
	background-color: #BCAD75;
	box-shadow: 10px 10px 5px #11314d;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	text-decoration: none;

}
.item2 {
	background-color: #BCAD75;
	box-shadow: 10px 10px 5px #11314d;
	border-radius: 10px;
	width: 95%;
}

.toptext {
	color: white;
	font-size: 9vw;
	text-shadow: 6px 6px 5px #11314d;
	width: auto;
}
.smalltext {
	font-size: 2.5vh;
}
.bottomtext {
	color: #BCAD75;
	float: right;
	font-style: italic;
	font-size: 10px;
	margin: 2%;
}

.toppic {
	height: 15%;
	width: 15%;
}
.rounduppic {
	padding-top: 12px;
	width: 40%;
	margin:auto;
	max-width: 300px;
}
.socialpic {
	display: block;
	margin: auto;
	max-width: 100px;
	width: 50%;
}
/*==========================================================================*/
@media screen and (max-width: 450px) {
	.container2 {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"one" "two" 
			".""." 
			"three" "four" "five" "six" 
			".""." 
			"seven" 
			"eight" "nine" "ten" "eleven" "twelve" 
			".""." 
			"thirteen" "fourteen";
	}
	.container3 {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"one2 two2" 
			"three2 four2";
	}
}
/*==========================================================================*/
.sche {
	grid-area: one;
}
.cale {
	grid-area: two;
}
.mood {
	grid-area: three;
}
.fawe {
	grid-area: four;
}
.outl {
	grid-area: five;
}
.gmai {
	grid-area: six;
}
.exit {
	grid-area: seven;
}
.foli {
	grid-area: eight;
}
.payc {
	grid-area: nine;
}
.wiza {
	grid-area: ten;
}
.faci {
	grid-area: eleven;
}
.tech {
	grid-area: twelve;
}
.roun {
	grid-area: thirteen;
	padding: 0;
}
.container3 {
	grid-area: fourteen;
	padding: 0;
}




