body
{
	background-color:black;
	color:white;
	font-family:helvetica, sans-serif;
}

img.vaultboy
{
	display:block;
	margin:auto;
	width:50%;
}
img.hamburger
{
	width:20px;
}

button
{
	width:150px;
	padding:10px;
	font-size:18px;
	vertical-align:middle;
	border:1px solid white;
	background-color:white;
}

div.menu
{
	display:none;
	position:absolute;
	border:1px solid white;
	width:128px;
	padding:10px;
}

a:link
{
	color:white;
}
a:visited
{
	color:grey;
}
a:hover
{
	color:grey;
}
a:active
{
	color:grey;
}