/*	Jesuit Blue: #003F77
	Jesuit Gold: #BCAD75
-------------------------------------------*/
body {
	margin: 3%;
	background-color: #002c53;
	color: white;
	font-family: "Helvetica";
}
/*-----------------------------------------*/
div.title {
	position: relative;
	left: 34%;
}
div.background {
	background-color: #003F77;
	margin: 3%;
	border-radius: 24px;
}
/*-----------------------------------------*/
h1 {
	font-size: 48px;
	padding-top: 36px;
}
h1._n {
	font-size: 24px;
}

h3 {
	font-size: 36px;
	margin-top: -36px;
}
h3._n {
	font-size: 24px;
	margin-top: -12px;
}
/*-----------------------------------------*/
table {
	width: 80%;
	margin: auto;
	border-spacing: 6px;
}
table.social {
	width: 100%;
}
/*-----------------------------------------*/
td {
	border: 6px double white;
	border-radius: 24px;
	background-color: #BCAD75;
	padding: 6px;
	font-size: 24px;
	text-align: center;
	box-shadow: 5px 10px #002c53;
}
td:hover {
	border: 6px solid white;
}
td.naked {
	border: none;
	background-color: transparent;
	padding: none;
	font-size: 12px;
	box-shadow: none;
}
td.double {
	font-size: 36px;
}
td.single {
	width: 49.5%;
}
/*-----------------------------------------*/
img.shield {
	position: absolute;
	left: 20%;
	top: 10%;
	width: 12%;
	max-width: 130px;
}
img.social {
	width: 50%;
}
/*-----------------------------------------*/
footer {
	margin: 3%;
	text-align: right;
	font-size: 10px;
	color: #BCAD75;
	font-style: italic;
}





