
/*-----------------------------------------
Jesuit Blue: #003F77
Jesuit Gold: #BCAD75
-------------------------------------------*/
body {
	margin: 3%;
	background-color: #002c53;
	font-family: "Arial"
}
/*-----------------------------------------*/
div.background {
	background-color: #003F77;
	border-radius: 24px;
	width: 96%;
	margin:auto;
}
/*-----------------------------------------*/
table {
	width: 80%;
	margin: auto;
	border-spacing: 6px;
}
/*-----------------------------------------*/
td {
	border: 6px double white;
	border-radius: 24px;
	background-color: #BCAD75;
	padding: 8px;
	font-size: 36px;
	text-align: center;
	box-shadow: 5px 10px #002c53;
	color: #003F77;
	width: 49.5%;
}
td:hover {
	border: 6px solid white;
	cursor: pointer;
}
td.titletext {
	border: none;
	background-color: #003F77;
	padding: none;
	box-shadow: none;
	color: white;
	width:79.5%;
	font-size: 48px;
	font-weight: bold;
}
td.titletext_n {
	border: none;
	background-color: #003F77;
	padding: none;
	box-shadow: none;
	color: white;
	width:90%;
	font-size: 48px;
	font-weight: bold;
	text-align: left;
}
td.titlepic {
	border: none;
	background-color: #003F77;
	padding: none;
	box-shadow: none;
	width:9.5%;
}
td.naked {
	border: none;
	background-color: transparent;
	padding: none;
	font-size: 12px;
	box-shadow: none;
}
td.social {
	width:24.5%;
}
/*-----------------------------------------*/
img.shield {
	height:13%;
	margin:auto;
}
img.social {
	width: 60%;
}
img.social_n {
	width: 30%;
}
/*-----------------------------------------*/
span.subText {
	font-size: 18px;
}
/*-----------------------------------------*/
footer {
	margin: 3%;
	text-align: right;
	font-size: 10px;
	color: #BCAD75;
	font-style: italic;
}